.w-600{
    width: 600px;
}


.texto-rosa{
    color:#e47777 ;

}

.btn-primary{
    background-color: #e47777 ;
    border-width: 0px;
    color: white;
}

.background-image{
background-image:url("../img/partituraFondo.jpg") ;
background-repeat: no-repeat;
 background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
z-index: -1;
opacity:0.7; 
filter:blur(3px);
}
.titulo{
    text-align: center; 
    
}
