/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@font-face{
    font-family:'Raleway', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Raleway:300,400");
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    background-size: cover;
    
}

#partitura{
    box-shadow: 30px 40px 75px #222;
    filter:blur(3px);
}






#texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: calc(150px - 20px);
    left: 0;
    right: 0;
    background: rgb(228, 119, 119);
    padding: 10px 50px;
    margin: 0 265px;
    text-align: center;
    font-size: 45px;
    font-family: 'Raleway';
    color: rgb(246, 242, 242);
    font-weight: 300;
    letter-spacing: 0.2px;
    transition: all 1.5s ease-out;
}

