<nav class="navbar navbar-expand-lg navbar-dark bg-black " aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        <a href="../index/indice.html">
            <img src="../../../assets/images/logosimplificado.png" width="90" height="90" alt="Logo" />
        </a>
        <a class="navbar-brand" href="../index/indice.html">Contemporanica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Contemporanica</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                    <!-- SI ESTA LOGEADO -->
                    <ul class="d-flex flex-wrap" *ngIf="true">
                        <li class="nav-link" *ngFor="let item of templateUserMenu" [routerLink]="[ item.route ]">
                            {{item.text}}
                        </li>
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Perfil
                        </a>
                        <ul class="dropdown-menu justify-content-end">
                            <ul class="d-flex flex-wrap">
                                <li class="dropdown-item" *ngFor="let item of templateProfileMenu"
                                    [routerLink]="[ item.route ]">
                                    {{item.text}}
                                </li>
                            </ul>
                            <hr class="dropdown-divider" />
                            <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
                        </ul>
                    </ul>

                    <!-- SI NO ESTA LOGEADO -->
                    <ul class="d-flex flex-wrap" *ngIf="false">
                        <li class="nav-link" *ngFor="let item of templateGuestMenu" [routerLink]="[ item.route ]">
                            {{item.text}}
                        </li>
                    </ul>

                </ul>
            </div>
        </div>
    </div>
</nav>