/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2)
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    background-size: cover;
    
}

#partitura{
    box-shadow: 30px 40px 75px #222;
    filter:blur(3px);
}

#logoRect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    top: 130px;
    background: rgba(0,0,0,0.5);
    padding: 10px 50px;
    text-align: center;
    font-size: 45px;
    font-family: 'Montserrat';
    color: rgb(246, 242, 242);
    font-weight: 300;
    letter-spacing: 0.2px;
    transition: all 1.5s ease-out;    
    border-radius: 25px;
}

#logoRect:hover{
    backface-visibility: hidden;
        transform: scale(1.3, 1.3);
        opacity: 1;
        transition: all 0.9s ease-out;
        
}

#titulo{
    color: rgb(246, 242, 242);
}

.background-image {
    background-image: url("../img/partituraFondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    filter: blur(3px);
    margin-top: -110px;
}

.texto-rosa {
    color: #e47777;
}
a.texto-rosa:hover {
    color: white;
}