<footer>
    <div class="d-flex flex-wrap justify-content-between px-5 py-5 bg-black">
        <span class="texto-rosa pt-3">©2023 Contemporanica</span>

        <ul class="d-flex list-unstyled pt-3">
            <li class="ms-3"><a class="texto-rosa" href="#"><i class="bi bi-twitter"></i></a></li>
            <li class="ms-3"><a class="texto-rosa" href="#"><i class="bi bi-instagram"></i></a></li>
            <li class="ms-3"><a class="texto-rosa" href="#"><i class="bi bi-facebook"></i></a></li>
            <li class="ms-3"><a class="texto-rosa" href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
    </div>
</footer>